@media screen and (max-width: 475px) {
  nav {
    height: 86px;
  }

  main {
    height: calc(100% - 86px);
  }

  #map {
    height: 70%;
  }

  .knockoutList {
    height: 30%;
  }
  .apiDetails {
    height: 30%;
  }
}
