html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  font-size: 14px;
}

h1 {
  padding: 20px;
  line-height: 1.4em;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

nav {
  box-sizing: border-box;
  height: 48px;
  padding: 5px;
}

main {
 height: calc(100% - 48px);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#map {
  width: 100%;
  height: 75%;
}

#pano {
  width:220px;
  height: 150px;
  margin: 10px 0;
}

button {
  color: #fff;
  background: #3498db;
  padding: 10px 20px;
  margin: 2px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #5fc4fa;
  text-decoration: none;
}

button.all {
  background: #1e6899;
}

button.all:hover {
  background: #69a3c1;
  text-decoration: none;
}

.knockout-list {
  background-color: #ede;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  height: 25%;
}

.knockout-all {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.knockout-list ul {
  list-style: none;
  margin: 0;
  padding: 4px;
}

.knockout-list li {
  padding: 2px;
  cursor: pointer;
}

.knockout-list li:hover {
  background-color: #1e6899;
  color: #fff;
}

.api-details {
  padding: 10px;
  width: 50%;
  background-color: #1e6899;
  box-sizing: border-box;
  color: #fff;
  overflow: auto;
  height: 25%;
}
